@icon-diameter: 26px;
@red: #f05033;
@blue: #19b5ea;
@yellow: #f6b412;

:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.icon__cate {
  transform: scaleY(-1);
}

.flashcard__title {
  font-size: 20px;
}

.flashcard__logo {
  width: @icon-diameter;
  height: @icon-diameter;
  margin-right: 4px;
}

.toolbar {
  position: relative;
  z-index: 10;
  height: 56px;
  color: white;

  mat-icon {
    fill: white;
    margin-right: 2px;
  }

  .toolbar__spacer {
    flex: 1 1 auto;
  }

  .github__logo {
    width: 26px;
    margin-right: 4px;
  }
}

.drawer__container {
  flex: 1;
}

.flashcard__detail {
  max-width: 480px;
  overflow-x: hidden;
}

footer {
  display: flex;
  align-items: center;
  width: 100%;

  mat-icon {
    vertical-align: middle;
  }

  .footer__element {
    flex: 1;
    font-size: 12px;
  }

  .footer__logo {
    font-size: 16px;

    .footer__logo_icon {
      width: 32px;
      height: 32px;
      fill: white;
      margin-right: 1px;
    }
  }

  .footer__version {
    text-align: center;
  }

  .footer__power {
    text-align: right;
    line-height: 24px;
  }
}
