<mat-toolbar color="primary" class="toolbar mat-elevation-z4">
  <mat-toolbar-row>
    <button mat-button>
      <mat-icon class="flashcard__logo" svgIcon="flashcard-logo"></mat-icon>
      <span class="flashcard__title">Flashcard</span>
    </button>
    <button mat-button routerLink="/wall" *ngIf="largeScreen">
      <mat-icon svgIcon="wall"></mat-icon>
      <span>Card Wall</span>
    </button>
    <button mat-button routerLink="/catalog" *ngIf="largeScreen">
      <mat-icon class="icon__cate" svgIcon="catalogue"></mat-icon>
      <span>Catalogue</span>
    </button>
    <span class="toolbar__spacer"></span>
    <a mat-button href="https://github.com/material-flashcard/material-flashcard/" target="_blank">
      <img class="github__logo" src="assets/img/octocat-light_32px.png" />
      <span>GitHub</span>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="drawer__container">
  <mat-drawer-content on-cardclick="onCardClick($event)" class="drawer__content">
    <router-outlet></router-outlet>
  </mat-drawer-content>

  <mat-drawer #drawerFlashcard *ngIf="largeScreen" position="end">
    <mat-drawer-content *ngIf="selectedMaterial" class="flashcard__detail">
      <flashcard-detail [material]="selectedMaterial" on-closeDetail="onCloseDetail()"></flashcard-detail>
    </mat-drawer-content>

  </mat-drawer>

</mat-drawer-container>

<mat-toolbar color="accent">
  <footer>

    <div class="footer__element footer__logo">
      <mat-icon class="footer__logo_icon" svgIcon="flashcard-logo_outlined"></mat-icon>aterial Flashcard
    </div>

    <div class="footer__element footer__version">Version: {{version}}</div>
    <div class="footer__element footer__power">

      <div>Powered by Angular <mat-icon svgIcon="angular-solid"></mat-icon>
      </div>
      <div>Built and Hosted by <a class="footer__page" href="https://github.com/material-flashcard/material-flashcard.github.io" target="_blank">GitHub Pages</a></div>
    </div>
  </footer>

</mat-toolbar>
